*{
  margin: 0;
  box-sizing: border-box;
}  
/* BASE */
body{
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F5F7fB;
}

.main-container{
  width: 100vw;
  height: 100vh;
  background-color: #F5F7fB;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN CONTAINER */
.blob{
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  transform-origin: 50% 50%;
  animation: move 10s ease-in-out infinite;
  z-index: 0;
}

@keyframes move{
  0% {transform: scale(1) translate(-57px, -50px);}
  35% {transform: scale(0.77) translate(30vw, 30vh) rotate(170deg);}
  40% {transform: scale(0.77) translate(30vw, 30vh) rotate(170deg);}
  77% {transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg);}
  88% {transform: scale(0.77) translate(-20vw, 50vh) rotate(-20deg);}
  100% {transform: scale(1) translate(-57px, -50px);}
}

.content-container{
  z-index: 10;
  max-width: 950px;
}

/* MENU */
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6rem;
}

.page-title{
  color: #293264;
  font-size: 2.5rem;
}

.page-description{
  color: rgba(41, 50, 100, 1);
}

.start-button{
  color: white;
  border: none;
  padding: 16px 32px;
  background-color: #4D589E;
  border-radius: .5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: .5rem;
  margin-right: 8px;
}

/* QUESTION */
.start-content-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.end-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: .2rem;
}

.content-container{
  padding: 0 16px;

}

.question-container{
  margin-bottom: .65rem;
  width: 100%;
  text-align: left;
}

.question-title{
  font-size: .85rem;
  color: rgb(41, 50, 100);
  margin-bottom: .5rem;
}

.answer{
  background-color: transparent;
  border: 1px solid #4D589E;
  font-size: .6rem;
  border-radius: .3rem;
  margin-right: .6rem;
  color: rgb(41, 50, 100);
  padding: 2px 8px;
}

.line{
  margin-top: .5rem;
  width: 100%;
  border-top: .8px solid #c4c8e0;
}

.selected{
  background-color: #D6DBF5;
}

.check{
  color: white;
  background-color: #3b4fd1;
  border: none;
  border-radius: 10px;
  padding: 14px 24px;
  margin-bottom: 1rem;
}

.score{
  font-weight: 700;
  font-size: 1rem;
  color: rgb(41, 50, 100);
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgb(41, 50, 100);
}

.start-button:hover{
  background-color: #293264;
}

#correct.answer{
  background-color: #94d7a2;
  border: 1px solid #94d7a2;
}

#incorrect.answer.selected{
  background-color: #F88C8C;
  border: 1px solid #F88C8C;
}

#not-selected.answer{
  color: rgba(41, 50, 100, .4);
  border: 1px solid rgba(41, 50, 100, .4);
}

.difficulty-button{
  background-color: transparent;
  border: 1px solid #4D589E;
  font-size: .6rem;
  border-radius: .3rem;
  margin-right: .6rem;
  color: rgb(41, 50, 100);
  padding: 4px 12px;
}

.category-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: .3rem;
}

.category-button{
  background-color: transparent;
  border: 1px solid #4D589E;
  font-size: .6rem;
  border-radius: .3rem;
  color: rgb(41, 50, 100);
  padding: 4px 12px;
}

.clicked{
  background-color: #D6DBF5;
}

.menu-input{
  border: 1px solid #c4c8e0;
  border-radius: 6px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  outline: 0;
}

.margin{
  margin-right: 7px;
}


/* BREAKPOINT */
@media only screen and (min-width: 350px){
  .question-title{
    font-size: 1rem;
  }
  .answer{
    font-size: .8rem;
    margin-bottom: .5rem;
  }
}

@media only screen and (min-width: 400px){
  .question-title{
    font-size: .8rem;
  }
  .answer{
    font-size: .8rem;
    margin-bottom: .5rem;
  }
  .checked{
    font-size: 1rem;
  }
  @keyframes move{
    0% {transform: scale(1) translate(-50px, -50px);}
    35% {transform: scale(0.77) translate(70vw, 30vh) rotate(170deg);}
    40% {transform: scale(0.77) translate(70vw, 30vh) rotate(170deg);}
    77% {transform: scale(1.5) translate(-10vw, 50vh) rotate(-20deg);}
    88% {transform: scale(0.77) translate(-10vw, 50vh) rotate(-20deg);}
    100% {transform: scale(1) translate(-50px, -50px);}
  }
}

@media only screen and (min-width: 630px){
  .content-container{
    padding: 0 32px;
  }
  .question-container{
    margin-bottom: 1rem;
  }
  .question-title{
    font-size: .8rem;
    margin-bottom: 0.7rem;
  }
  .answer{
    font-size: .9rem;
    margin-bottom: .1rem;
  }
  .check{
    font-size: .8rem;
  }
  
  @keyframes move{
    0% {transform: scale(1) translate(100px,-100px);}
    35% {transform: scale(0.8) translate(85vw, 30vh) rotate(170deg);}
    40% {transform: scale(0.8) translate(85vw, 30vh) rotate(170deg);}
    77% {transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);}
    88% {transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);}
    100% {transform: scale(1) translate(100px, -100px);}
  }
}

@media only screen and (min-width: 1000px){
  .question-container{
    margin-bottom: 1.2rem;
  }
  .question-title{
    font-size: .9rem;
    margin-bottom: 0.7rem;
  }
  .answer{
    font-size: .9rem;
    margin-bottom: .1rem;
  }
  .check{
    font-size: .8rem;
  }
  @keyframes move{
    0% {transform: scale(1) translate(100px,-100px);}
    35% {transform: scale(0.8) translate(90vw, 30vh) rotate(170deg);}
    40% {transform: scale(0.8) translate(90vw, 30vh) rotate(170deg);}
    77% {transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);}
    88% {transform: scale(0.77) translate(0vw, 50vh) rotate(-20deg);}
    100% {transform: scale(1) translate(-50px, -100px);}
  }
}

